<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="GrolExamGenerator.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="GrolExamGenerator.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <userSettings>
    <GrolExamGenerator.Properties.Settings>
      <setting name="RandomizeAnswers" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="LastExamElement" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="LastTestType" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="LastSubElement" serializeAs="String">
        <value />
      </setting>
      <setting name="LastOutputFolder" serializeAs="String">
        <value />
      </setting>
      <setting name="LastOutputFile" serializeAs="String">
        <value />
      </setting>
      <setting name="RandomDistrubtion" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="AllQuestions" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="LastKeyTopic" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="DataFilePath" serializeAs="String">
        <value />
      </setting>
      <setting name="QsPerElement" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>1,24</string>
            <string>3,75</string>
            <string>6,75</string>
            <string>7,75</string>
            <string>8,50</string>
            <string>9,50</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="LearnModeOn" serializeAs="String">
        <value>False</value>
      </setting>
    </GrolExamGenerator.Properties.Settings>
  </userSettings>
  <applicationSettings>
    <GrolExamGenerator.Properties.Settings>
      <setting name="Copyright" serializeAs="String">
        <value>Copyright 2015, 2019 under the GNU General Public License</value>
      </setting>
      <setting name="NumberOfQuestionsRequested" serializeAs="String">
        <value>0</value>
      </setting>
    </GrolExamGenerator.Properties.Settings>
  </applicationSettings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
      <provider invariantName="System.Data.SQLite.EF6" type="System.Data.SQLite.EF6.SQLiteProviderServices, System.Data.SQLite.EF6" />
    </providers>
  </entityFramework>
  
</configuration>