<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="GrolTestPoolParser.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="GrolTestPoolParser.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <userSettings>
    <GrolTestPoolParser.Properties.Settings>
      <setting name="LastInputFile" serializeAs="String">
        <value />
      </setting>
      <setting name="LastDBname" serializeAs="String">
        <value>grol_exam_data</value>
      </setting>
      <setting name="OutputFolder" serializeAs="String">
        <value />
      </setting>
      <setting name="OutputQFileName" serializeAs="String">
        <value />
      </setting>
      <setting name="OutputToDB" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="OutputDFileName" serializeAs="String">
        <value />
      </setting>
      <setting name="LastExamElement" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="DataFilePath" serializeAs="String">
        <value />
      </setting>
    </GrolTestPoolParser.Properties.Settings>
  </userSettings>
  <applicationSettings>
    <GrolTestPoolParser.Properties.Settings>
      <setting name="Copyright" serializeAs="String">
        <value>Copyright 2015 Charles H Fisher Jr South St. Paul, MN</value>
      </setting>
    </GrolTestPoolParser.Properties.Settings>
  </applicationSettings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
      <provider invariantName="System.Data.SQLite.EF6" type="System.Data.SQLite.EF6.SQLiteProviderServices, System.Data.SQLite.EF6" />
    </providers>
  </entityFramework>
  
</configuration>